<!-- <hello name="{{ name }}"></hello> -->
<!-- <p>
  Start editing to see some magic happen :)
</p> -->

<div class="frame">
  <div class="center">
    <div class="profile">
      <div class="image">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <img
          src="src=../images"
          width="70"
          height="70"
          alt="Shreyas Singh"
        />
      </div>

      <div class="name">{{ name }}</div>
      <div class="job">Software Developer</div>

      <div class="actions">
        <button class="btn">Email</button>
        <button class="btn">Contact</button>
      </div>
    </div>
  </div>
</div>
